body {
    background-color: darkolivegreen;
    color: white;
    margin: 40px;
    font: larger;
    font-family: sans-serif, serif;
}
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
p {
    color: olive;
    background-color: black;
    font-size: larger;
    border: 10px coral;
    border-style: inset;
    padding: 30px;
    max-width: 750px;
    margin: auto;
    align-items: center;
}
h1 {
    color: coral;
    background-color: black;
    font-size: 350%;
    font-family: Noto serif;
    font-weight: bold;
    text-align: center;
    margin:auto;
    border: 50px coral;
    border-style: inset;
    padding: 30px;
}
h2 {
    color: seagreen;
    background-color: black;
    font-size: 250%;
    font-family: Noto serif;
    font-weight: bold;
    text-align: center;
    margin:auto;
    border: 25px coral;
    border-style: inset;
    padding: 30px;
}
h3 {
    color: orange;
    font-size: 150%;
    font-family: Noto serif;
    font-weight: bold;
    text-align: center;
    margin:auto;
    padding: 30px;
}
h4 {
    color: orangered;
    font-family: Noto serif;
    font-weight: bold;
    text-align: center;
    margin:auto;
    padding: 30px;
}
h5 {
    color: skyblue;
    font-family: Noto serif;
    font-weight: bold;
    text-align: center;
    margin:auto;
    padding: 30px;
}
h6 {
    text-align: center;
    margin:auto;
}
button {
  background-color: black;
  border: 10px;
  border-style: inset;
  border-color: coral;
  color: seagreen;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
a {
    color: seagreen;
}
a :hover {
    color: goldenrod;
}
a :active {
    color: lightgreen
}
hr {
    color: black;
    size: 10px;
}
img {
  display: block;
  margin: auto;
  width: 50%;
}
table {
    background-color: black;
    border: 10px;
    border-color: coral;
    border-style: inset;
    padding: 30px;
    margin: auto;
    width: auto;
    text-align: center;
}
td {
  text-align: center;
}
th {
  text-align: center;
}
